<%- include("partials/header.ejs") %>
<body class="blur">
    <% if (Blogs && Blogs.length > 0) { %>  <!-- Check if Blogs array is not empty -->
        <%- include("blogs.ejs") %>
    <% } else { %>
        <h1 class="title">Share Your First Blog Here!</h1>
        <form action="/" method="post">
            <label for="name">Blog's Name</label>
            <input type="text" name="blogName" required>
            
            <label for="blog">Blog's Content</label>
            <textarea name="blog" required></textarea>
            
            <button type="submit">Submit</button>
        </form>
    <% } %>
    <div class="new-blog-module">
        <form action="/" method="post">
            <label for="name">Blog's Name</label>
            <input type="text" name="blogName" class="blog-name-input" reaquired>
            
            <label for="blog">Blog's Content</label>
            <textarea name="blog" class="blog-content-input" required></textarea>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="edit-blog-module">
        <form method="post" action="/edit">
            <label for="name">Blog's Name</label>
            <input type="text" name="blogName" class="blog-name-input" readonly>
            
            <label for="blog">Blog's Content</label>
            <textarea name="blog" class="blog-content-input" required></textarea>
            
            <div>
                <button type="submit" value="save" name="choice" >Save</button>
                <button type="submit" value="delete" name="choice">Delete</button>
            </div>
        </form>
    </div>
    <script src="/scripts/index1.js"></script>
</body>