<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App API</title>
</head>
<body>

    <h1></h1>

    <form action="/" method="post" >
        <label for="date">Enter a Date:</label>
        <input type="date" name="birthDate">
        <input type="submit" value="Submit">

    </form>

    <% if (locals.celebrations){ %>
    <ul>
        <% celebrations.forEach(celebration => {%>
            <li><%=celebration.title %></li>
        <%}) %>
     </ul>   
     <% } %>
    
</body>
</html>